<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SunGlasses - Player</title>
        <link rel="stylesheet" href="https://cdn.plyr.io/1.8.2/plyr.css">
        <script src="https://cdn.plyr.io/1.8.2/plyr.js"></script>
        <script src="https://cdn.jsdelivr.net/hls.js/latest/hls.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/getshow.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bvselect.css') }}">
        <script src = "{{ url_for('static',filename='javascript/bvselect.js') }}"></script>
        <script>window.seasonData = '{{ show_detail | tojson | safe }}'.replace(/\r\n/g, '');</script>
        <script src = "{{ url_for('static',filename='javascript/getshow.js') }}"></script>    
    </head>

  <body>
      <div class="nav">
          <h1>SunGlasses</h1>
      </div>
      <span class="screen">
        <div class="side-pane">
            <select id="selectbox" onchange="selectChanged(this)">
                <option value="##" data-separator="true" selected>Select Season</option>
            </select>
            <div id="container"></div>
        </div>
        <div class="video-pane">
            <video preload="none" id="player" autoplay controls crossorigin></video>
            <div class="show-details">
                <span id="ep-title"></span>
                <span id="ep-description"></span>
                <span id="ep-published"></span>
            </div>
            <div class="ep-details">
                <span class="players-container">
                    <select id="selectbox-ptype" onchange="selectPlayerTypeChanged(this)">
                        <option value="##" data-separator="true" selected>Select Player</option>
                    </select>
                    <select id="selectbox-svtype" onchange="selectServerTypeChanged(this)">
                        <option value="##" data-separator="true" selected>Select Server</option>
                    </select>
                </span>
            </div>
        </div>
    </span>

  </body>
</html>