<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="nav">
        <h1>SunGlasses</h1>
    </div>
    <div id="loading" class="loading">
        Loading&#8230;
    </div>
    <script>
        var loadingDiv = document.getElementById('loading');

        window.showSpinner = function() {
            loadingDiv.style.visibility = 'visible';
        }

        window.hideSpinner = function() {
            loadingDiv.style.visibility = 'hidden';
        }
 
        window.showSpinner();
        window.onload = () => window.hideSpinner();
    </script>

    <div id="cards"></div>
    <script>
        let list = JSON.parse('{{ show_list | tojson | safe }}');
        list.data.forEach(data => {
            let card_node = document.createElement("span")
            card_node.className = "card";
            card_node.setAttribute("lang", data.language);
            card_node.innerHTML += `
                <img src = "${data.avatar_url}">
                <div class="details" count="${data.ep_count}">
                    <div class="name">
                        <p>${data.name}</p>
                    </div>
                    <div class="second">
                        <p>${data.stype}</p>
                        <p id="dot"></p>
                        <p>${data.time}</p>
                    </div>
                </div>
            `;
            document.getElementById("cards").appendChild(card_node);
            card_node.addEventListener("click", (event)=>{
                window.showSpinner();
                window.location.href = `/getshow?url=${encodeURIComponent(data.link)}`;
            });
        });
    </script>
    <div class="pagination">
        <div id="prev">Previous</div>
        <div id="next">Next</div>
    </div>
    <script>
        let pno =  parseInt('{{ page }}');
        document.getElementById("prev").addEventListener("click", () => {
            if(pno > 1){
                window.location.href = `?page=${pno - 1}`;
            }
        });
        document.getElementById("next").addEventListener("click", () => {
            window.location.href = `?page=${pno + 1}`;
        });
    </script>
</body>
</html>