body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #07071e;
}

.screen {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.side-pane, .video-pane {
  outline: 0.5px solid rgb(27, 178, 143);
  overflow: hidden;
}

.nav {
    position: fixed;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(33, 65, 159), #11182791);
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    z-index: 2;
}

.side-pane {
  display: block;
  width: 366px;
  height: 578px;
  overflow-y: scroll;
  /* background-color: red; */
}

.video-pane {
  width: 1000px;
  aspect-ratio: 2;
  overflow-y: scroll;
}

.episode-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 366px;
  margin-bottom: 2px;
  background-color: rgb(0, 0, 0);
}

.episode-container span {
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.ep-count {
  font-size: x-large;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 800;
}

.ep-name {
  width: 250px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  font-weight: 600;
}

h2 {
  overflow: hidden;
  width: 990px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #ffffff;
  padding: 7px;
  border-bottom: 4px solid #cdf8ae;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.player-options {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
}

.player-options .option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 7px;
  color: #10102a;
  background-color: aliceblue;
  border: 2px solid rgb(193, 192, 190);
  border-radius: 5px;
  margin: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

video {
  display: none;
}

.show-details {
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
}

.show-details span {
  padding: 10px;
}

#ep-title {
  font-weight: 600;
  font-size: x-large;
}

#ep-description {
  font-size: large;
}

#ep-published {
  font-size: medium;
}

.players-container-t {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) and (min-width: 320px) {
  .screen {
    flex-direction: column-reverse;
  }

  .video-pane {
    width: unset;
    overflow-y: unset;
    aspect-ratio: unset;
  }

  .player-options {
      grid-template-columns: repeat(3, 1fr);
  }
  
  .player-options .option {
    font-size: small;
  }

  .side-pane, .video-pane {
    outline: unset;
    overflow: unset;
  }

  h2 {
    width: unset;
  }

  .side-pane {
    width: 99%;
    overflow-y: unset;
  }

  .bv_atual .bv_background {
    width: 98%;
  }

  .bv_mainselect {
    width: 100%;
  }
  
  .ep-name {
    width: unset;
  }

  .episode-container {
    width: unset;
  }

}